/* body */

@font-face {
    font-family: "ApplicationFont";
    src: url("__Font__") format("opentype");
}

body {
    background-color: "__PageBackground__";
    color: "__TextColor__";
    font-family: "ApplicationFont";
}

/*login component*/

.login-component-container {
    width: 100vw;
}

.login-static-header {
    height: 25vh;
    width: 100vw;
    background-image: url("__LoginHeader__");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.login-form-container {
    background: inherit;
    padding-top: 15vh;
    padding-left: 32px;
    padding-right: 32px;
}

.form-label {
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
}

.form-control,
.form-control:focus {
    background-color: "__WidgetBackground__" !important;
    border: 1px solid "__WidgetBackground__" !important;
    color: "__TextColor__";
    font-size: 16px;
    line-height: 16px;
    border-radius: 0 !important;
}

#create-profile-button {
    background-color: "__Button__";
    color: "__TextColor__";
    font-size: 14px;
    display: none;
    padding: 9px 14px;
    width: 100%;
    height: 41px;
}

.red-text {
    color: "__Unsuccessful__";
}

/* timeline static header */
.timeline-static-header {
    position: absolute;
    top: 0px;
    left: 0px;
    height: calc(15vh + 42px);
    right: 0px;
    overflow: hidden;
}

.small-banner {
    height: 15vh;
    width: 100vw;
    background-image: url("__SmallHeader__");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* timeline component navigation */

.tab {
    overflow: hidden;
    border: 1px solid "__PageBackground__";
    background-color: "__PageBackground__";
}

.tab button {
    background-color: "__NavTab__";
    color: "__NavTabText__";
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 13px 16px;
    transition: 0.3s;
    font-size: 14px;
    width: 50%;
    line-height: 14px;
}

.tab button.active {
    background-color: "__ActiveNavTab__";
    color: "__ActiveNavTabText__";
}

.tab-links-container {
    height: 42px;
    width: 100vw;
}

.timeline-container-body {
    width: 100vw;
    height: calc(85vh - 42px);
}

.timeline-container-body-content {
    display: none;
    height: calc(85vh - 42px);
    position: absolute;
    top: calc(15vh + 42px);
    left: 0px;
    right: 0px;
    overflow: auto;
}

#tab-widget {
    display: block;
}

/* livelike widget timeline styling*/
/*

livelike-widgets {
    margin: 16px;
}

livelike-widget-root,
livelike-widget-header,
livelike-title,
livelike-widget-body,
livelike-footer {
    background-color: "__WidgetBackground__" !important;
    border-radius: 0 !important;
}

livelike-widget-root {
    margin-bottom: 16px !important;
}

livelike-widget-body {
    padding-bottom: 16px !important;
}

livelike-option {
    height: 45px !important;
    background-color: "__WidgetOption__" !important;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 8px !important;
    margin-bottom: 8px !important;
} */


/*old css*/
/* Widget common */

.active-bage {
    align-items: center;
    background-image: url("./assets/images/bage.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center left;
    background-position-x: 10px;
}

livelike-widget-root {
    background-color: "__WidgetBackground__" !important;
    border-radius: 0;
}

livelike-widget-header,
livelike-widget-body {
    background-color: "__WidgetBackground__" !important;
    background: "__WidgetBackground__";
}

livelike-title {
    color: "__TextColor__";
    background-color: "__WidgetBackground__";
    padding: 2px 14px;
    font-weight: 500;
    font-size: 24px;
    font-family: "ApplicationFont";
    line-height: 25px;
}

livelike-image {
    height: 60px;
    width: 60px;
}

livelike-image img {
    height: 58px;
    width: 58px;
    z-index: 0;
    transform: translateX(-1px);
}

livelike-option[selected] {
    background: "__WidgetOption__" !important;
}

livelike-option {
    border-radius: 5px !important;
    height: 60px;
    margin: 10px;
}

livelike-description {
    color: "__TextColor__";
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    /* margin-top:12px */
}

livelike-percentage {
    color: "__TextColor__";
}

livelike-progress {
    bottom: 14px;
    left: 14px;
    height: 4px;
    border-radius: unset;
    top: unset !important;
    margin-top: unset !important;
    background: "__TextColor__";
}

livelike-progress[image] {
    height: 4px !important;
}

livelike-widget-root livelike-widget-body livelike-select livelike-option {
    background-color: "__WidgetOption__" !important;
}

livelike-select {
    background-color: "__WidgetBackground__" !important;
}

livelike-option .livelike-voting-image-container {
    background-color: "__WidgetOption__" !important;
    min-height: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

livelike-description {
    font-size: 12px;
    font-family: "ApplicationFont";
    padding: 15px 0 0 13px;
}

livelike-option .livelike-voting-image-container .image-description-wrapper {
    font-size: 15px;
    display: flex;
    height: 100%;
    width: calc(80% - 14px);
    position: relative;
    background-color: "__WidgetOption__" !important;
}

livelike-option .livelike-voting-image-container .image-description-wrapper livelike-description {
    padding: 15px 0 0 13px;
    background-color: "__WidgetOption__" !important
}

livelike-option[image] {
    flex-direction: row-reverse;
    line-height: 15px;
    font-size: 12px;
    padding: 0px;
    background-color: "__WidgetOption__" !important;
}

livelike-option:not([image]) {
    padding: 0 !important;
    background-color: "__WidgetOption__" !important;
}

livelike-option:not([image]) div:first-child {
    height: 100% !important;
    background-color: "__WidgetOption__" !important;
}

livelike-option:not([image]) livelike-percentage {
    align-self: center;
}

livelike-option:not([image]) livelike-description {
    padding: 10px 0 0 14px !important;
    background-color: "__WidgetOption__" !important;
}

livelike-percentage {
    font-family: "ApplicationFont";
    font-size: 22px;
    padding: 0 14px 0 0 !important;
    line-height: 20px;
}

/* Correct / Incorrect / Selected*/
livelike-description[selected],
livelike-description[selected][incorrect],
livelike-percentage[selected],
livelike-percentage[selected][incorrect] {
    color: "__TextColor__";
}

livelike-percentage[correct] {
    color: "__TextColor__";
}

livelike-option[selected] {
    border-color: "__WidgetSelectedOption__";
    background-color: "__WidgetOption__" !important;
}

livelike-option[selected][correct] {
    border-color: "__Successful__";
    background-color: "__WidgetOption__" !important;
}

livelike-description[correct] {
    color: "__TextColor__";
    background-color: "__WidgetOption__" !important;
}

livelike-option[selected][incorrect] {
    border-color: "__Unsuccessful__";
    background-color: "__WidgetOption__" !important;
}

livelike-progress[selected],
livelike-progress[selected][incorrect] {
    background: "__TextColor__";
}

livelike-progress[correct] {
    background: "__TextColor__";
}

livelike-option[correct] {
    border-color: "__Successful__";
    background-color: "__WidgetOption__";
}

/*  Vote Button Footer */

livelike-footer {
    background-color: "__WidgetBackground__" !important;
    margin: 0 0 6px 14px;
}

livelike-alert livelike-footer {
    background-color: "__WidgetBackground__" !important;
    margin: 0 0 6px 14px;
}

.widget-link:after {
    top: 8px;
}

.vote-button {
    background: "__Button__" !important;
    border: unset !important;
    border-radius: 0px !important;
    color: "__TextColor__" !important;
    margin: 0 !important;
    padding: 3px 30px !important;
    font-family: "ApplicationFont";
    font-style: normal;
    font-size: 14px;
}

.vote-button[disabled] {
    background: "__ButtonDisabled__" !important;
    border-radius: 0px !important;
    border: unset !important;
    color: "__TextColor__" !important;
}

.voted-text {
    font-family: "ApplicationFont" !important;
    font-style: normal;
    font-size: 16px;
    line-height: 14px;
    color: "__TextColor__";
    padding-left: 10px;
}

.predict-button {
    background: "Button" !important;
    border: unset !important;
    border-radius: 0px !important;
    color: "__TextColor__" !important;
    margin: 0 !important;
    padding: 3px 30px !important;
    font-family: "ApplicationFont";
    font-style: normal;
    font-size: 14px;
}

.predict-button[disabled] {
    background: "__ButtonDisabled__";
    border: unset !important;
    color: "__TextColor__" !important;
}

/* Progress Spacing */

livelike-option:not([image]) div:first-child {
    width: 80% !important;
}

livelike-percentage {
    transform: translateX(20%);
}

livelike-option:not([image]) div:first-child livelike-percentage {
    left: 25%;
}

.widget-caption {
    color: "__TextColor__";
}

.leaderboard-container {
    padding: 12px;
    height: calc(100% - 168px);
    overflow-y: auto;
}

.leaderboard-table {
    width: 100%;
}

.widget-link {
    background-color: unset !important;
    padding: unset;
    color: "__TextColor__";
}

.widget-link:after {
    top: 7px;
}


/* override everything*/

livelike-description {
    font-size: 20px;
}

livelike-widget-body {
    background-color: "__WidgetBackground__" !important;
}

livelike-footer {
    background-color: "__WidgetBackground__" !important;
}

livelike-percentatge {
    font-family: "ApplicationFont" !important;
    padding-right: 3px !important;
}

td,
th {
    padding-top: 17px;
    padding-bottom: 17px;
    font-size: 16px;
}

livelike-progress {
    background-color: "__TextColor__" !important;
    z-index: 100 !important;
}

.thead-element {
    font-family: "ApplicationFont";
    font-style: normal;
    font-weight: 100 !important;
    color: "__TextColor__" !important;
}

.score-label {
    font-family: "ApplicationFont";
    font-style: normal;
    font-weight: 100 !important;
}

livelike-option livelike-progress:not([changed]) {
    visibility: hidden !important;
}

livelike-option livelike-percentage:not([changed]) {
    visibility: hidden !important;
}

livelike-image-prediction livelike-progress:not([changed]),
livelike-text-prediction livelike-progress:not([changed]) {
    visibility: hidden !important;
}

livelike-image-prediction livelike-percentage:not([changed]),
livelike-text-prediction livelike-percentage:not([changed]) {
    visibility: hidden !important;
}

livelike-widgets {
    display: flex;
    flex-direction: column-reverse;
}

.widgets-tab {
    padding-bottom: 100px;
}

.text-ask-button {
    background: "__Button__" !important;
    border: unset !important;
    border-radius: 0px !important;
    color: "__TextColor__" !important;
    margin: 0 !important;
    padding: 3px 20px !important;
    font-style: normal;
}

.text-ask-button [disabled] {
    background: "__ButtonDisabled__" !important;
    border-radius: 0px !important;
    border: unset !important;
    color: "__TextColor__" !important;
}

.text-ask-button-label {
    font-weight: 100 !important;
    font-family: "ApplicationFont";
    font-size: 14px;
}

.quiz-confirmation-message {
    font-size: 16px !important;
    font-weight: 100 !important;
}

livelike-image-number-prediction livelike-option[correct],
livelike-image-number-prediction-follow-up livelike-option[correct],
livelike-image-number-prediction livelike-option[incorrect],
livelike-image-number-prediction-follow-up livelike-option[incorrect],
livelike-image-number-prediction livelike-option[selected][correct],
livelike-image-number-prediction-follow-up livelike-option[selected][correct],
livelike-image-number-prediction livelike-option[selected][incorrect],
livelike-image-number-prediction-follow-up livelike-option[selected][incorrect],
livelike-text-prediction livelike-option[correct],
livelike-text-prediction-follow-up livelike-option[correct],
livelike-text-prediction livelike-option[incorrect],
livelike-text-prediction-follow-up livelike-option[incorrect],
livelike-text-prediction livelike-option[selected][correct],
livelike-text-prediction-follow-up livelike-option[selected][correct],
livelike-text-prediction livelike-option[selected][incorrect],
livelike-text-prediction-follow-up livelike-option[selected][incorrect],
livelike-image-prediction livelike-option[correct],
livelike-image-prediction-follow-up livelike-option[correct] livelike-image-prediction livelike-option[incorrect] livelike-image-prediction-follow-up livelike-option[incorrect],
livelike-image-prediction livelike-option[selected][correct],
livelike-image-prediction-follow-up livelike-option[selected][correct],
livelike-image-prediction livelike-option[selected][incorrect],
livelike-image-prediction-follow-up livelike-option[selected][incorrect] {
    border-color: "__WidgetOption__" !important;
    background-color: "__WidgetOption__" !important;
}

.prediction-follow-up-footer-message {
    font-family: "ApplicationFont" !important;
    font-weight: 100 !important;
    color: "__Successful__" !important;
}

.current-profile-list-item {
    background-color: "__Unsuccessful__";
}

livelike-widgets {
    margin: 16px;
}

livelike-widget-root,
livelike-widget-header,
livelike-title,
livelike-widget-body,
livelike-footer {
    background-color: "__WidgetBackground__" !important;
    border-radius: 0 !important;
}

livelike-footer {
    padding-top: 8px !important;
}

livelike-widget-root {
    padding-top: 12px !important;
    padding-right: 16px !important;
    padding-bottom: 16px !important;
    padding-left: 16px !important;
    margin-bottom: 16px !important;
}

/* 
livelike-widget-body {
    padding-bottom: 16px !important;
} */
/* 
livelike-option {
    height: 45px !important;
    background-color: "__WidgetOption__" !important;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 8px !important;
    margin-bottom: 8px !important;
} */

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.tab button.active span {
    border-bottom: 2px solid red;
}