/* body */

@font-face {
    font-family: "ApplicationFont";
    src: url("__Font__") format("opentype");
}

body {
    background-color: "__PageBackground__";
    color: "__TextColor__";
    font-family: "ApplicationFont";
}

/*login component*/

.login-component-container {
    width: 100vw;
}

.login-static-header {
    height: 25vh;
    width: 100vw;
    background-image: url("__LoginHeader__");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.login-form-container {
    background: inherit;
    padding-top: 15vh;
    padding-left: 32px;
    padding-right: 32px;
}

.form-label {
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
}

.form-control,
.form-control:focus {
    background-color: "__WidgetBackground__" !important;
    border: 1px solid "__WidgetBackground__" !important;
    color: "__TextColor__";
    font-size: 16px;
    line-height: 16px;
    border-radius: 0 !important;
}

#create-profile-button {
    background-color: "__Button__";
    color: "__TextColor__";
    font-size: 14px;
    display: none;
    padding: 9px 14px;
    width: 100%;
    height: 41px;
}

.red-text {
    color: "__Unsuccessful__";
}

/* timeline static header */
.timeline-static-header {
    position: absolute;
    top: 0px;
    left: 0px;
    height: calc(15vh + 42px);
    right: 0px;
    overflow: hidden;
}

.small-banner {
    height: 15vh;
    width: 100vw;
    background-image: url("__SmallHeader__");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* timeline component navigation */

.tab {
    overflow: hidden;
    border: 1px solid "__PageBackground__";
    background-color: "__PageBackground__";
}

.tab button {
    background-color: "__NavTab__";
    color: "__NavTabText__";
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 14px;
}

.tab button.active {
    background-color: "__ActiveNavTab__";
    color: "__ActiveNavTabText__";
}

.tab-links-container {
    height: 42px;
    width: 100vw;
}

.timeline-container-body {
    width: 100vw;
    height: calc(85vh - 42px);
}

.timeline-container-body-content {
    display: none;
    height: calc(85vh - 42px);
    position: absolute;
    top: calc(15vh + 42px);
    left: 0px;
    right: 0px;
    overflow: auto;
}

#tab-widget {
    display: block;
}

/* livelike widget timeline styling*/
livelike-widgets {
    margin: 16px;
}

livelike-widget-root,
livelike-widget-header,
livelike-title,
livelike-widget-body,
livelike-footer {
    background-color: "__WidgetBackground__" !important;
    border-radius: 0 !important;
}

livelike-widget-root {
    margin-bottom: 16px !important;
}

livelike-widget-body {
    padding-bottom: 16px !important;
}

livelike-option {
    height: 45px !important;
    background-color: "__WidgetOption__" !important;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}