/* .widget-link:after {
    top: 8px;
}

.widget-caption {
    color: "__TextColor__";
}

.widget-link {
    background-color: unset !important;
    padding: unset;
    color: "__TextColor__";
}

.widget-link:after {
    top: 7px;
} */
