/* body */

@font-face {
    font-family: "ApplicationFont";
    src: url("__Font__") format("opentype");
}

body {
    background-color: "__PageBackground__";
    color: "__TextColor__";
    font-family: "ApplicationFont";
}

/*login component*/

.login-component-container {
    width: 100vw;
}

.login-static-header {
    height: 25vh;
    width: 100vw;
    background-image: url("__LoginHeader__");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.login-form-container {
    background: inherit;
    padding-top: 15vh;
    padding-left: 32px;
    padding-right: 32px;
}

.form-label {
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
}

.form-control,
.form-control:focus {
    background-color: "__WidgetBackground__" !important;
    border: 1px solid "__WidgetBackground__" !important;
    color: "__TextColor__";
    font-size: 16px;
    line-height: 16px;
    border-radius: 0 !important;
}

#create-profile-button {
    background-color: "__Button__";
    color: "__TextColor__";
    font-size: 14px;
    display: none;
    padding: 9px 14px;
    width: 100%;
    height: 42px;
}

.red-text {
    color: "__Unsuccessful__";
}

/* timeline component static header */
.timeline-static-header {
    position: absolute;
    top: 0px;
    left: 0px;
    height: calc(15vh + 42px);
    right: 0px;
    overflow: hidden;
}

.small-banner {
    height: 15vh;
    width: 100vw;
    background-image: url("__SmallHeader__");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* timeline component navigation */

.tab {
    overflow: hidden;
    border: 1px solid "__PageBackground__";
    background-color: "__PageBackground__";
}

.tab button {
    background-color: "__NavTab__";
    color: "__NavTabText__";
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 13px 16px;
    transition: 0.3s;
    font-size: 14px;
    width: 50%;
    line-height: 14px;
}

.tab button.active {
    background-color: "__ActiveNavTab__";
    color: "__ActiveNavTabText__";
}

.tab button.active span {
    border-bottom: 2px solid "__Unsuccessful__";
}

.tab-links-container {
    height: 42px;
    width: 100vw;
}

.timeline-container-body {
    width: 100vw;
    height: calc(85vh - 42px);
}

.timeline-container-body-content {
    display: none;
    height: calc(85vh - 42px);
    position: absolute;
    top: calc(15vh + 42px);
    left: 0px;
    right: 0px;
    overflow: auto;
}

#tab-widget {
    display: block;
}

/* widgets timeline style */

livelike-widgets {
    display: flex;
    flex-direction: column-reverse;
    margin: 16px;
}

livelike-widget-root,
livelike-widget-header,
livelike-title,
livelike-widget-body,
livelike-footer {
    background-color: "__WidgetBackground__" !important;
    border-radius: 0 !important;
}

livelike-widget-root {
    padding-bottom: 16px;
    margin-bottom: 8px;
}

livelike-option {
    background-color: "__WidgetOption__";
    border-color: "__WidgetOption__";
    margin: 0px 16px 8px 16px;
    height: 45px;
}

livelike-option[selected] {
    background-color: "__WidgetSelectedOption__";
    border-color: "__WidgetSelectedOption__";
}

livelike-option[image] {
    flex-direction: row-reverse;
}

livelike-image img {
    height: 45px !important;
    width: 60px !important;
}

/* livelike-option[selected][correct] {
    border-color: "__Successful__";
}

livelike-option[selected][incorrect] {
    border-color: "__Unsuccessful__";
} */

/* hidden progress for not answered widgets*/
/* livelike-image-prediction livelike-progress:not([changed]),
livelike-text-prediction livelike-progress:not([changed]) {
    visibility: hidden !important;
} */

/* hidden progress for not answered widgets*/
/* livelike-image-prediction livelike-percentage:not([changed]),
livelike-text-prediction livelike-percentage:not([changed]) {
    visibility: hidden !important;
} */

/* text ask widget */

.text-ask-button {
    background: "__Button__" !important;
    border: unset !important;
    border-radius: 0px !important;
    color: "__TextColor__" !important;
    margin: 0 !important;
    padding: 3px 20px !important;
    font-style: normal;
}

.text-ask-button [disabled] {
    background: "__ButtonDisabled__" !important;
    border-radius: 0px !important;
    border: unset !important;
    color: "__TextColor__" !important;
}

.text-ask-button-label {
    font-weight: 100 !important;
    font-family: "ApplicationFont";
    font-size: 14px;
}

/* quiz widget add ons */
.quiz-confirmation-message {
    font-size: 12px !important;
}

/* prediction widget add ons */
.prediction-follow-up-footer-message {
    font-family: "ApplicationFont" !important;
    font-weight: 100 !important;
    color: "__Successful__" !important;
    margin: 0px 16px 0px 16px;
}

.predict-button {
    background-color: "__Button__" !important;
    color: "__TextColor__" !important;
    border-radius: 0px !important;
}

.predict-button[disabled] {
    background: "__ButtonDisabled__";
    color: "__TextColor__" !important;
}

.vote-button {
    background: "__Button__" !important;
    color: "__TextColor__" !important;
    border-radius: 0px !important;
}

.vote-button[disabled] {
    background: "__ButtonDisabled__" !important;
    color: "__TextColor__" !important;
}

.voted-text {
    color: "__TextColor__";
}

/* leaderboard */

.leaderboard-table {
    width: 100%;
}

td,
th {
    padding-top: 17px;
    padding-bottom: 17px;
    font-size: 14px;
    height: 52px;
}

.list-item {
    border-bottom: 0.5px solid "__LeaderboardHeaderText__";
}

.current-profile-list-item {
    background-color: "__Unsuccessful__";
    border-color: "__Unsuccessful__";
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.current-score-label {
    border-width: 1px;
    border-color: "__Unsuccessful__";
}

.pts,
.thead-score {
    padding-right: 16px;
}

.thead-rank {
    padding-left: 16px;
}

.thead-element {
    color: "__LeaderboardHeaderText__" !important;
}

.score-label {
    font-family: "ApplicationFont";
    font-style: normal;
    font-weight: 100 !important;
}

.rank {
    padding-left: 16px;
}

.active-bage {
    align-items: center;
    background-image: url("./assets/images/bage.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center left;
    background-position-x: 7px;
}